# Windows
Thumbs.db
desktop.ini
ehthumbs.db

# Office temporales
~$*.js
~$*.xlsx
~$*.docx

# Node (por si acaso)
node_modules/

# Python
__pycache__/
*.pyc
*.pyo
.env

# VS Code
.vscode/

# Archivos de sistema Mac
.DS_Store
