# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

APP_URL="MY_APP_URL"

# GOOGLE SHEETS API CREDENTIALS
# Requerido para leer/escribir en Google Sheets. Usa un Service Account.
GOOGLE_SERVICE_ACCOUNT_EMAIL="your-service-account@your-project.iam.gserviceaccount.com"
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY_HERE\n-----END PRIVATE KEY-----\n"

# El ID de la hoja de cálculo
SPREADSHEET_ID="18pN681sIIu3rT6gO_MDfDFr9OZkOaFpAOPfQxooJpXk"
